{% extends "base.html" %}

{% block content %}
<div class="registerPage">
    <div
        id="login-form"
        class="form loginPage__form"
    >
        <div class="inputBox form__inputBox">
            <el-input placeholder="Логин">
            </el-input>
        </div>
        <div class="inputBox form__inputBox">
            <el-input placeholder="Пароль">
            </el-input>
        </div>
        <div class="form__controls">
            <el-button
                class="form__button"
                type="primary"
            >
                Войти
            </el-button>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{{ static('js/loginPage.js') }}"></script>
{% endblock script %}	