{% extends "base.html" %}

{% block content %}
<div class="registerPage">
    <div
        id="register-form"
        class="form registerPage__form"
    >
        <div class="inputBox form__inputBox">
            <el-input placeholder="Почта"
            >
            </el-input>
        </div>
        <div class="inputBox form__inputBox">
            <el-input placeholder="Пароль"
            >
            </el-input>
        </div>
        <div class="inputBox form__inputBox">
                <el-input placeholder="Повторите пароль"
                >
                </el-input>
            </div>
        <div class="form__controls">
            <el-button
                class="form__button"
                type="primary"
                @click="submit"
            >
                Зарегестрироваться
            </el-button>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{{ static('js/registerPage.js') }}"></script>
{% endblock script %}	